@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&display=swap');

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1 {
    text-align: right;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    margin: auto;
}

.pblog {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    color: white;
}

nav {
    max-width: 1200px;
    margin: auto;
}


body {
    background-color: rgb(15,101,103);
}


.rein {
    border: groove 1px rgba(128, 128, 128, 0.3);
}

ul {
    list-style-type: none;
    float: left;
}

ul li {
    display: inline-block;
    margin: auto;
    padding-top: 10px;
}

ul li a {
    background-color:black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px 20px;  
    padding: 5px 10px;
    color: white;
    transition: 0.5s ease;
    border-radius: 5px;
}

.profile {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.profile:hover {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

section {
    height: 50px;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(212, 217, 37);
}

.intro {
    background-color: rgb(212, 217, 37);
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 15px;
}

article {
    height: 50px;
    margin: auto;
    max-width: 1200px;
}

.content {
    background-color: #0c5357;
    max-width: 600px;
    /* text-align: left; */
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}

.contpic {
    background-color: rgb(212, 217, 37);
    height: 300px;
}

.contpic img {
    margin-top: 25px;
    margin-left: 50px;
} 


.numbers {
    font-size: 25px;
    font-weight: bold;
}







 




























